## Gradle
**/.gradle
**/build/
!src/**/build/
!gradle-wrapper.jar

## Eclipse
bin/
.metadata/
.settings/
.classpath
.project
.loadpath

## VSCode
.vscode/*

## Java
*.class
*.jar
*.war
*.rar
*.nar
*.ear
*.zip
*.tar.gz
hs_err_pid*
replay_pid*

## Kotlin
.kotlin/

## Intellij
.idea/
*.ipr
*.iws
*.iml

## OS Specific
.DS_Store
Thumbs.db
