<?xml version="1.0" encoding="UTF-8"?>

<!-- This is me, playing around with xml, i somehow like it -->

<distributor>
    <roles>
        <role>
            <name>Owner</name>
            <admin>true</admin>
            <level>7000</level>
        </role>
        <role>
            <name>Admin</name>
            <admin>true</admin>
            <level>6000</level>
        </role>
        <role>
            <name>Member</name>
            <admin>false</admin>
            <level>0</level>
        </role>
    </roles>

    <server>

    </server>

    <locales>
        <locale code="BE"/>
        <locale code="FR"/>
    </locales>
</distributor>
